{% extends "base.html" %}
{% from "list.html" import build_list %}

{% block content %}

{{ build_list(c) }}

<div style='float:left;'>
<h1>{{ c['record'].name }}</h1>

<form name="character_sheet" method="post" novalidate class="form">
    {{ c['form'].csrf_token }}

    {% if 'process' in c['form'].errors %}
    Error: {{ c['form'].errors['process'] |join(',') }}
    {% endif %}
    <ul>
        {% for field in c['form'] %}
            <li>{{ field.label }}: {{ field }} {{ field.errors|join(',') }}</li>
        {% endfor %}
    </ul>
    <button type="submit">Submit</button>
</form>
</div>
{% endblock %}

{% block debug %}
<div style='clear:both;display:block;'>
<h2>Debug</h2>
<pre>
{{ c }}
</pre>
{% endblock %}
